body {
    background-color: #f9fafa;
    margin: 0;
}
*{
    font-family: "TBC-Regular";
    box-sizing: border-box;

}
@font-face {
    font-family: "TBC-Regular";
    src: url(/assets/fonts/TBCXRegular.dee156cc.woff2) format(woff);
}
@font-face {
    font-family: "TBC-Medium";
    src: url(./assets/fonts/TBCXMedium.8ef1248a.woff2) format(woff);
}
@font-face {
    font-family: "TBC-Bold";
    src: url(./assets/fonts/TBCXBold.6db5e61d\ \(1\).woff2) format(woff);
}
.nav-section{
    border-bottom: 1px solid #eff1f1;
    background-color: white;

}
.header-container {
    height: 79px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 165px;

}
.header-nav {
    padding-left: 40px;
    padding-right: 40px;
}
.header-nav ul{
    display: flex;
    list-style-type: none;
}
.header-nav ul li{
    padding: 0px 40px;
}
.tbc-logo{
    display: flex;
    align-items: center;
    width: 165px;
    height: 32px;
    color: #575f61;
}
.search-div{
    display: flex;
    align-items: center;
    padding: 0px 35px;
}
.search-div img{
    color: #575f61;
}
.subscribe-div {
    display: flex;
    align-items: center;
    padding: 0px 35px;

}
.subscribe-div img{
    padding-right: 15px;
}
.language-div {
    display: flex;
    align-items: center;
    padding: 0px 35px;

}
.language-div img{
    padding-right: 15px;
}
.header-properties {
    display: flex;
    padding: 0px 80px;
    
}